.App {
  margin: 20px;
}
.Table {
  text-align: center;
  margin-top: 10px;
}
.Card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.Link {
  text-decoration: none;
}
h1 {
  text-align: center;
}
